.wrapper {
    display: flex;
}

.square {
    width: 200px;
    height: 200px;
    background-color: rgb(21, 226, 199);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#red {
    background-color: rgb(216, 20, 20);
}

.text {
    font-size: 20px;
    font-style: italic;
    margin: 30px 20px;
}

#bold {
    font-weight: bold;
}

.purple {
    background-color: rgb(136, 0, 136);
}

.grey {
    background-color: rgb(110, 110, 110);
}

.Header {
    font-size: 50px;
}